body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

header {
    background-image: url("images/kumamoto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
}



header h1 {
    font-size: 48px;
}

nav {
    background-color: #1d3557;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 60px 10%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.button {
    display: inline-block;
    background-color: #e63946;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 10px;
}

footer {
    background: #1d3557;
    color: white;
    text-align: center;
    padding: 20px;
}
